fastapi==0.115.6
uvicorn==0.32.1

python-multipart==0.0.19
pydantic[email]
passlib==1.7.4
passlib[argon2]
python-jose[cryptography]

pymongo==4.10.1

environ-config==24.1.0
python-dotenv==1.0.1

httpx==0.28.1